cartridges/dw.json
.vscode/launch.json
dw.json
dw_bellacore.json
app_custom/node_modules
storefront-reference-architecture-master/node_modules

git init
git status
touch .gitignore

git add -A    added to the staging area
git status 

git reset filename
git reset

echo "# SFRAAssignment" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/SandeepShivaram/SFRAAssignment.git
git push -u origin main 
	
	
git remote add origin https://github.com/SandeepShivaram/SFRAAssignment.git
git branch -M main
git push -u origin main

git remote add origin https://377061@github.com/SandeepShivaram/SFRAAssignment.git


git remote add origin https://513909@github.com/SandeepShivaram/SFRAAssignment.git

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
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
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